<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sandbox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Sandbox.Properties.Settings>
            <setting name="PassPhrase" serializeAs="String">
                <value>b6f75a139bec9f52ad4be7b95792c47d</value>
            </setting>
        </Sandbox.Properties.Settings>
    </applicationSettings>
</configuration>